* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 15px;
  font-style: italic;
  font-size: 60px;
}

h2 {
  font-size: 330px;
  font-style: italic;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.button-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px;
  margin: auto 50px;
}

.plus, .minus {
  height: 80px;
  width: 80px;
  font-size: 60px;
  border: none;
  border-radius: 100%;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  border: none;
  color: white;
  background-color: red;
  height: 80px;
  width: 150px;
  border-radius: 10px;
  font-size: 35px;
}